language: go

go:
  - "1.14.x"

services:
  - docker

branches:
  only:
    - master
    - /^release-[0-9]+\..*$/

addons:
  sonarcloud:
    organization: "open-cluster-management"
    token:
      secure: "JhEdt0lTCh5cOdjg5MXPI07+VknovXhXTGwUnxMb6VqcoCxP1WzljWdHpidkRh0/n3nY22XaTmA7mPjIXubn3DT0C5oLnkA0dQorNSS3rLDTunbs0C1Nlzvmxb/Nev893gbip9fSF1IFCU1sQLYmGb3rtwgGgEU+96a1nECAwUVaKE35VZoN4xmtebsp0iPuUCH3GtbYE3CbUH7WK9Hnx5I1Pmx9yTw9/3w9cWIOvkxvBvO8+i+2POrh92MZBnMxhoShzt+vC8zFhlrQSj3qOVyEzudw0fyx8TlDLOjYkZBafZKZVna9wGimnVslwkh9/+H49EoAV4FadwGQYThFp6J1CtBq3TByHiJ1m9K//2icBRbidlQq+feKUdWtp9j+rsYXEy9Il2tSruZHKYejin/mhiBTKas6k5gov3hVLAxjKD6vqUnHN1u3gfHR4xRAUSuTJN0XAVDOqRkT15LPIi1xabArf5JOTrhmvwyxmultVElRgB9whkPqk4FXUa8jJ81GLBiGtOEh7TS3EMgfnmkAt0m0eo3pgt4Tnch+H0/iDpaHDkNTUzpb8veZpguHoFYsJUpmmnNsHmSZZ3ktGbS+hdrL5CPYiigpq26mb4MTBYRS6RkNdHjkoh4Um/A9yje9mFt8CTxDTXKcuKXBa6vGIJ04qrJzdwiLQGXPR68="
env:
  global:
    # Required
    - OS=linux
    - COMPONENT_TAG_EXTENSION="-${TRAVIS_COMMIT}"
    # Component Specific
    - COMPONENT_INIT_COMMAND=${TRAVIS_BUILD_DIR}/build/install-dependencies.sh
    - COMPONENT_BUILD_COMMAND=${TRAVIS_BUILD_DIR}/build/build.sh
    - COMPONENT_UNIT_TEST_COMMAND=${TRAVIS_BUILD_DIR}/build/run-unit-tests.sh
    - COMPONENT_E2E_TEST_COMMAND=${TRAVIS_BUILD_DIR}/build/run-e2e-tests.sh

stages:
  # - lint
  - build
  - unit-test
  - test-e2e
  - publish

jobs:
  include:
    # - stage: lint
    #   name: "Run code lint"
    #   if: type = pull_request
    #   script: bash ${TRAVIS_BUILD_DIR}/build/run-code-lint.sh
    - stage: build
      name: "Build the image and push it"
      script:
        - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then export COMPONENT_TAG_EXTENSION="-PR${TRAVIS_PULL_REQUEST}-${TRAVIS_COMMIT}"; fi;
        - make copyright-check TRAVIS_BRANCH=${TRAVIS_BRANCH}
        - |
          make
          make component/build
          make component/push
          if [ "$IMAGE_SCAN" != "false" ]; then make security/scans; fi;
        - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then 
            export COMPONENT_NEWTAG="latest-dev";
            make component/tag;
            export COMPONENT_VERSION="latest";
            export COMPONENT_TAG_EXTENSION="-dev";
            make component/push;
          fi;
    - stage: unit-test
      name: "Run unit test"
      script:
        # Set the image tag differently for PRs
        - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then export COMPONENT_TAG_EXTENSION="-PR${TRAVIS_PULL_REQUEST}-${TRAVIS_COMMIT}"; fi;
        # Bootstrap the build harness, pull test image, and run unit tests.
        - |
          make
          make component/test/unit
          export SONAR_GO_TEST_ARGS="\`go list ./... | grep -v test/e2e\`"
          make sonar/go
    - stage: test-e2e
      name: "Deploy the image to a cluster and run e2e tests"
      if: type = pull_request
      script:
        #Check out a clusterpool, set up oc, deploy, run e2e tests, and return clusterpool cluster
        - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then export COMPONENT_TAG_EXTENSION="-PR${TRAVIS_PULL_REQUEST}-${TRAVIS_COMMIT}"; fi;
        - |
          make
          make component/pull
          make component/test/e2e
    - stage: publish
      name: "Publish the image to quay with an official version/sha tag and publish entry to integration pipeline stage"
      if: type = push AND branch =~ /^release-[0-9]+\..*$/
      script:
        - |
          make
          make pipeline-manifest/update PIPELINE_MANIFEST_COMPONENT_SHA256=${TRAVIS_COMMIT} PIPELINE_MANIFEST_COMPONENT_REPO=${TRAVIS_REPO_SLUG} PIPELINE_MANIFEST_BRANCH=${TRAVIS_BRANCH}